# Analyse the code

## load data
Load the data with 0 for empty values

In [1]:
import pandas as pd
import os

def load_excel_to_df(filename):
    """
    Load an Excel file into a pandas DataFrame and replace empty values with 0.

    Parameters:
    -----------
    filename : str
        Path to the Excel file (.xlsx)

    Returns:
    --------
    pandas.DataFrame
        DataFrame containing the Excel data with empty values replaced by 0
    """
    # Check if file exists
    if not os.path.exists(filename):
        raise FileNotFoundError(f"The file {filename} does not exist.")

    # Check if file is an Excel file
    if not filename.endswith('.xlsx'):
        raise ValueError(f"The file {filename} is not an Excel file (.xlsx).")

    try:
        # Read the Excel file
        df = pd.read_excel(filename)

        # Replace empty values (NaN) with 0
        df = df.fillna(0)

        return df

    except Exception as e:
        raise Exception(f"Error loading Excel file: {str(e)}")

df = load_excel_to_df('structured_data.xlsx')

In [2]:
df.describe()

,num_stackdepth3_logs,evts_1,expandEvts_1,pruneBacktrackEvts_1,backtrackEvts_1,strengthenEvts_1,maxStackDepth_1,evts_2,expandEvts_2,pruneBacktrackEvts_2,...,k,total_sum,variance,skewness,max_num,min_num,avg_subset_sum,max_to_avg_ratio,range_to_avg_ratio,coef_of_variation
count,690.000000,690.0,690.0,690.0,690.0,690.0,690.0,6.900000e+02,6.900000e+02,6.900000e+02,...,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000
mean,2.326087,4.0,4.0,0.0,0.0,0.0,3.0,1.342984e+09,6.714918e+08,6.669157e+08,...,4.000000,1370.911594,778.641904,-0.016508,94.821739,5.068116,358.045507,0.392159,0.362599,0.563883
std,1.488042,0.0,0.0,0.0,0.0,0.0,0.0,1.283705e+09,6.418524e+08,6.368330e+08,...,0.817089,677.510100,171.200962,0.341746,6.041352,6.476462,196.169481,0.301732,0.269556,0.097062
min,1.000000,4.0,4.0,0.0,0.0,0.0,3.0,1.100000e+01,6.000000e+00,2.000000e+00,...,3.000000,167.000000,57.200000,-1.460793,49.000000,1.000000,33.400000,0.100754,0.089445,0.085944
25%,1.000000,4.0,4.0,0.0,0.0,0.0,3.0,1.017850e+04,5.089750e+03,4.982000e+03,...,3.000000,787.250000,683.707333,-0.201917,94.000000,2.000000,192.062500,0.199569,0.192660,0.502009
50%,2.000000,4.0,4.0,0.0,0.0,0.0,3.0,1.895630e+09,9.478150e+08,9.475620e+08,...,4.000000,1376.000000,772.818979,-0.008982,97.000000,3.000000,349.000000,0.279066,0.264916,0.564235
75%,4.000000,4.0,4.0,0.0,0.0,0.0,3.0,2.617559e+09,1.308780e+09,1.288496e+09,...,5.000000,1895.000000,885.024201,0.190216,98.000000,6.000000,486.291667,0.478214,0.440201,0.621917
max,5.000000,4.0,4.0,0.0,0.0,0.0,3.0,3.013720e+09,1.506860e+09,1.480088e+09,...,5.000000,2918.000000,1497.490000,1.111964,99.000000,78.000000,972.666667,2.964072,2.904192,1.095596